.brand a
{
	text-decoration: none;
	color: #000;
}

.jobs-parent-div
{
}

.jobs-div
{
	width: 70%;

	text-align: left;
}

@media (max-width: 768px)
{
	.jobs-div
	{
		width: 100%;
	}
}

/*.new-job-div, .new-job-div .fieldWrapper
{
	width: 100%;
	/*background-color: #000;*/
/*}

.new-job-div .label
{
	display: inline-block;
	vertical-align: top;
	padding: 0 30px 0 0;

	width: 20%;
	height: 50px;
}

.new-job-div .label .required
{
	font-size: 10px;
	color: #F00;
}

.new-job-div .input
{
	display: inline-block;
	text-align: right;

	width: 70%;
	height: 50px;
}

.new-job-div .input input[type="text"], input[type="url"], input[type="email"], input[type="number"], textarea
{
	width: 100%;
}

.new-job-div .input .radio-input label
{
	display: block;
	width: 100%;
	text-align: left;

	margin: 10px 0;
}

.new-job-div .input input[type="radio"]
{
}

.new-job-div .input .error
{
	margin: 10px 0 10px 0;
	font-size: 14px;
	color: #F00; 
	/*text-align: center;*/
/*}

.help
{
	font-size: 14px;
	color: #999;
}

.notice
{
	display: block;
	padding: 5px 10px;

	border-radius: 4px;
	background-color: #FFFDB3;
	border: 1px solid #999;
}

/* Blog styles */

/*.blog-div h1
{
	font-size: 42px;
}

.blog-div
{
	width: 60%;
	text-align: left;
}

.blog-posts-div
{
	margin-top: 30px;
}

.blog-preview
{
	width: 60%;
	padding: 10px 30px;

	background-color: #FBFBFB;
	border-radius: 4px;

	text-align: left;

	-webkit-box-shadow: 0px 1px 1px 1px rgba(170,170,170,0.3);
	-moz-box-shadow: 0px 1px 1px 1px rgba(170,170,170,0.3);
	box-shadow: 0px 1px 1px 1px rgba(170,170,170,0.3);
}

.blog-date
{
	color: #999;
	font-size: 14px;
}

.blog-preview h1
{
	color: #333;
	font-size: 42px;
	font-weight: bold;
}

.blog-preview a
{
	text-decoration: none;
}

.recommendation-image
{
	width: 70%;
}